{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content='30'>
  <meta http-equiv="author" content="sunghwan">
  <meta http-equiv="description" content="Image tank site">
  <meta http-equiv="keywords" content="image,django,python">
  <link rel="stylesheet" href="{% static 'style.css' %}" media="all">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
  <title>image tank!!</title>
</head>
<body>
	<nav id="menu">
		<ul>
      {% if request.user.is_authenticated %}
      <a href="{% url 'member:logout' %}"><li>로그아웃</li></a>
      {% else %}
      <a href="{% url 'member:signup' %}"><li>회원가입</li></a>
      <a href="{% url 'member:login' %}"><li>로그인</li></a>
      {% endif %}
      <a href=""><li>사진 업로드</li></a>
      <a href=""><li>사진 목록 확인</li></a>
		</ul>
	</nav>

	<section id="bg">
		{% block 'content' %}

		{% endblock %}
	</section>
	

</body>
</html>
